USE [master]
GO
/****** Object:  Database [vizsga]    Script Date: 2023. 05. 31. 11:43:03 ******/
CREATE DATABASE [vizsga]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'vizsga', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vizsga.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'vizsga_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\vizsga_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [vizsga].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [vizsga]
GO
/****** Object:  Table [dbo].[kategoria]    Script Date: 2023. 05. 31. 11:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kategoria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kategorianev] [varchar](50) NOT NULL,
	[timestamps] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[teszt]    Script Date: 2023. 05. 31. 11:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teszt](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[kerdes] [varchar](60) NOT NULL,
	[v1] [varchar](60) NOT NULL,
	[v2] [varchar](60) NOT NULL,
	[v3] [varchar](60) NOT NULL,
	[v4] [varchar](60) NOT NULL,
	[helyes] [varchar](60) NULL,
	[kategoriaId] [int] NOT NULL,
	[timestamps] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[kategoria] ADD  DEFAULT (getdate()) FOR [timestamps]
GO
ALTER TABLE [dbo].[teszt] ADD  DEFAULT (getdate()) FOR [timestamps]
GO
ALTER TABLE [dbo].[teszt]  WITH CHECK ADD FOREIGN KEY([kategoriaId])
REFERENCES [dbo].[kategoria] ([id])
GO
USE [master]
GO
